/*div.storeLocations {
  margin: 5px;
  padding: 10px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  min-width: 160px;
}

ul.storeLocations {
  padding-left: 15px;
}

h1.storeLocations {
  color: rgb(100, 62, 0);
  font-size: 150%;
}*/
table #dataTable{
	position: fixed;
}

table #anotherDataTable {
	position: relative;
}

table {
	display: block;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	border: 1px solid black;
	font-size: 16px;
	text-align: center;
	background-color: LightBlue;
	color: Maroon;
}

#emptyCell {
	background-color: black;
}

h1 {
	font-size: 28px;
}

#newStoreRegistry {
	margin-left: 150px;
}

#newStoreRegistry > input {
	vertical-align: 300%;
	font-size: 16px;
	margin-left: 5px;
	height: 70px;
}

#newStoreEntry {
	display: inline;
	border: 1px solid black;
}

#newStoreEntry > input {
	border: 1px solid black;
	width: 250px;
}

#newStoreEntry > input, label {
	display: block;
	padding: 5px;
	margin-top: 5px;
	font-size: 16px;
}