section.storeLocations {
  margin: 5px;
  padding: 10px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  min-width: 160px;
}

section.storeLocations > ul {
  padding-left: 15px;
}

section.storeLocations > ul > lh {
  color: rgb(100, 62, 0);
  font-size: 150%;
}